    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                      <span class="name">{{page.title}}</span>
                        <hr class="star-light">
                    </div>
                </div>
            </div>
        </div>
    </header>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
                {{page.description}}
                <ul class="list-inline item-details">
                    {% if page.client %}
                        <li>Client:
                            <strong><a href="http://software-translation-institute.org">{{ page.client }}</a>
                            </strong>
                        </li>
                    {% endif %}
                    {% if page.project-date %}
                        <li>Date:
                            <strong><a href="http://software-translation-institute.org">{{ page.project-date }}</a>
                            </strong>
                        </li>
                    {% endif %}
                    {% if page.category %}
                        <li>Service:
                            <strong><a href="http://software-translation-institute.org">{{ page.category }}</a>
                            </strong>
                        </li>
                    {% endif %}
                </ul>
            </div>
    </div>
